<suite name ="Test automation regression suite" verbose="1"
       thread-count="3" parallel="tests">

<test name="fb-testcase">
    <classes>
            <class name="com.tests.LaunchBrowser"/>

    </classes>
</test>

    <test name="for loop-testcase">
        <classes>
            <class name="com.tests.Test123"/>
        </classes>
    </test>

    <test name="for pot-testcase">
        <classes>
            <class name="com.tests.Sample"/>
        </classes>
    </test>
</suite>